
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
   padding-left: 8px;
   padding-right: 8px;
   float: left; 
}
.col-third{
    width: 33.3333%;
}
.col-harf{
    width: 50%;
}
.col-full{
    width: 100%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
------------------------
1 vị trí
2 kích thước (width, height)
3 màu sắc
4 kiểu chữ ( hình tròn, vuông...)
*/

#main {
}
#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
  #nav li{
    position: relative;
}


#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
}

#nav li a{
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
}
#nav li:hover .subnav{
    display: block;
}
#nav >li:hover > a ,
#nav .subnav li:hover a
{
    background-color: #ccc;
    width: 100%;
}

#nav li:hover a{
    display: inline-block;
    color: #000;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    padding: 0 12px;
    color: #000;
    line-height: 38.5px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height:  46.5px;
}
#header .mobile-menu:hover .menu-icon{
    
    color: #000;
}
#header .mobile-menu:hover{
    background-color: #ccc;
}
.mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
}
.search-icon{
    display: none;
}
.menu-icon{
    display: none;
}
#header .mobile-menu,
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* -------------------*/

 #slider {
  position: relative;
  margin-top: 46.5px;
  padding-top: 50%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider .text-content {
    position: absolute;
    text-align: center;
    bottom: 47px;
    width: 100%;
}
#slider .text-head {
    font-weight: 500;
    font-size: 30px;
}
#slider .text-one {
    font-size: 20px;
    margin-top: 25px;
}


#content {

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-content{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 47px;
}

#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/*  tour section    */
.tour-section{
    background-color: #000; 
}

.tickits-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickits-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;

}
.tickits-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickits-list .quantily{
    float: right;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin: -2px;

}


/*place*/
.place-list{
    margin-top: 32px;
}
.place-img{
   width: 100%;
   display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-heading{
    font-weight: 500px;
    font-size: 15px;
}
.place-body{
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
}
.place-time{
    margin: 15px 0;
    color: #757575;
}
.place-decs{
    margin: 15px 0;
    line-height: 1.4;
}
.place-buy-btn{
    padding: 8px 16px;
    margin-top: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-top: 12px;

}
.modal-input{
    border:1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets:hover {
    background-color: #CCC;
    cursor: pointer;
}
#buy-tickets {
    background-color: #009986;
    border: none;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer a{
    color: #009688;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.contact-content{
    margin-top: 47px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.sendto{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #000;
}
.sendto:hover{
    color: #000;
    background-color: #ccc;
}
.map-section img{
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
}
.social-list{
    font-size: 24px;
}
.social-list a{
    text-decoration: none;
    color: #000;
    opacity: 0.6;
}
.social-list a:hover{
    color: #000;
    opacity: 0.3;
}
.coppyright{
    opacity: 0.8;
    font-size: 15px;
    margin-top: 30px;
    color: #000
}
.coppyright a{
    color: #000;
    cursor: pointer;
}

/* responsive
mobile*/

  
  /* ======= Buttons ======== */
  
  /* Block */
  
